@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%;
	height: 12px; /* Adjust the height for thickness */
	outline: none;
	border-radius: 6px; /* Rounded corners for the track */
}

.slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 12px; /* Adjust the height for thickness */
	background: transparent; /* Background handled by parent */
	border-radius: 6px; /* Rounded corners for the track */
}

.slider::-moz-range-track {
	width: 100%;
	height: 12px; /* Adjust the height for thickness */
	background: transparent; /* Background handled by parent */
	border-radius: 6px; /* Rounded corners for the track */
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	margin-top: -10px; /* Center the thumb */
	width: 30px; /* Adjust the width for thickness */
	height: 30px; /* Adjust the height for thickness */
	background: theme("colors.gray.800"); /* Black background for the thumb */
	border: 2px solid theme("colors.gray.800"); /* Black border for visibility */
	cursor: pointer;
	border-radius: 50%; /* Rounded thumb */
}

.slider::-moz-range-thumb {
	width: 30px; /* Adjust the width for thickness */
	height: 30px; /* Adjust the height for thickness */
	background: theme("colors.gray.800"); /* Black background for the thumb */
	border: 2px solid theme("colors.gray.800"); /* Black border for visibility */
	cursor: pointer;
	border-radius: 50%; /* Rounded thumb */
}
